@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arimo&family=Comfortaa&family=Indie+Flower&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.menus{
    background-color: #0000;
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 3.8rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.show-menu.menus{
    right: 10rem;
}
.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform .7s;
}
.show-menu #line1{
    transform: rotate(45deg) translate( .4rem , .2rem);
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3 {
    transform: rotate(-45deg) translate( .3rem , -.4rem);
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}   

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 12.5s;
}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transfom: scale(1);
    }
}

.banner{
    position: absolute;
    top: 56.5%;
    left: 16.5%;
}
.banner h1{
    font-family: 'Abril Fatface', cursive;
    color: #EEB;
    font-size: 2.55rem;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,0.4);
    line-height: 3.5rem;
    margin-bottom: .23rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}
.banner p{
    font-family: 'Comfortaa', cursive;
    color: #EEB;
    font-size: 1.44rem;
    text-shadow: .2rem .2rem rgba(0,0,0,0.4);
    line-height: 3.5rem;
    margin-bottom: .23rem;
     opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}
.banner button{
    font-family: 'Arimo', sans-serif;
    color: #EEB;
    background: #C02425;
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);
    background: linear-gradient(to left, #F0CB35, #C02425);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}
.show-menu.sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}
.menu-link{
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    color: #555555;
    transition: color .5s;
}
.menu-link:hover{
    color: #F0CB35;
}
.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-media i{
    background: #C02425;
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);
    background: linear-gradient(to left, #F0CB35, #C02425);
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}